{% extends "../main.html" %}

{% block title %}Welcome{% end %}

{% block content %}
<div class="well" style="background-image: url(/static/img/doorway.jpg); background-size:contain; background-size:100%;">
    <h1 style="color:white" >Doorway&#0153;</h1>
        <p style="color:white" >
        	The is opening is approaching...
        </p>
        <p>
        	<a class="btn btn-primary btn-large" href="/register">Register &raquo;</a>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /> <!-- This is easier than fixing the css, okay I'm a little lazy -->
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </p>
</div>
{% end %}